
.gallery {
  display: flex;          
  flex-wrap: wrap;       
  gap: 24px;              /* відстань між картками */
  list-style: none;       /* прибираємо маркери списку */
  padding: 0;
  margin: 0;
}

.gallery-item {
  width: calc((100% / 3) - 16px); 
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;     
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05); 
}
